<!-- About Section -->
	<section class="success" id="about">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12 text-center">
	                <h2>Om {{ SITENAME }}</h2>
	                <hr class="star-light">
	            </div>
	        </div>
	        <div class="row">
              <div class="col-lg-4 col-lg-offset-2">
                <p><i>På en enkel stol ved et hvit, speilblankt kjøkkenbord i en</i>
                  leilighet på Kvernaland sitter <strong>Svein F.  Hestvaag</strong>
                  og skriver på en mac. På den andre siden av bordet, med en
                  kruttsterk kopp espresso i hendene, sitter du.
                </p>
                <p>Sammen skriver dere boka om <em>deg</em>.</p>
                <div class="mugshot">
                  <img src="/static/images/svein-mugshot.png" alt="Svein F. Hestvaag"/>
                </div>
                <p>Etter et langt liv i reklamebransjen har Svein F. Hestvaag
                skiftet gir. Det er slutt på mørkeblå deadlines, dryppende
                valgflesk og forgyldte årsrapporter.</p>
                <p><em>Livet er ikke en sprint, det er en maraton</em>, og de
                mest interessante historiene er fremdeles ute i løpa.
                </p>
              </div>
              <div class="col-lg-4">
                <p><em><strong>Stig Hellerslien Dale</strong> gikk fra å være propellen i
                vinden til å være aspeløvet.</em> I mars 2014 &mdash; da nylig
                kåret til Norges beste eiendomsmegler &mdash; ble Stig selv
                tildelt et dårlig prospekt: Parkinson.
                </p>
                <div class="mugshot">
                  <img src="/static/images/stig-mugshot.png" alt="Stig Hellerslien Dale"/>
                </div>
                <p>
                  Dermed skiftet fokus. var det på tide å gjøre ting annerledes. 
                </p>
                <p>
                <em>Du får det du får, men du har det som du tar det.</em>
                </p>
              </div>
	            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://www.facebook.com/vifortellerdinhistorie/?fref=ts" target="_blank" class="btn btn-lg btn-outline">
                  <i class="fa fa-download"> Ta kontakt på facebook</i>
                </a>
	            </div>
	        </div>
	    </div>
	</section>
