<!-- Contact Section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Vi lytter!</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<form  action="{{ FORMSPREEURL }}" method="POST" name="sentMessage" id="contactForm" novalidate>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>Kort om ideen din</label>
							<textarea rows="5" name="message" class="form-control" placeholder="Kort om ideen din" id="message" required data-validation-required-message="<i class='fa fa-arrow-circle-o-up'></i> Ikke glem å fortelle oss litt om ideen din."></textarea>
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>Navn</label>
							<input type="text" name="name" class="form-control" placeholder="Navnet ditt" id="name" required data-validation-required-message="<i class='fa fa-arrow-circle-o-up'></i> Legg in navnet ditt her.">
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>E-postadresse</label>
							<input type="email" name="_replyto" class="form-control" placeholder="E-postadressen din" id="email" required data-validation-required-message="<i class='fa fa-arrow-circle-o-up'></i> Legg inn e-postadressen din her.">
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>Telefonnummer</label>
							<input type="tel" name="phoneno" class="form-control" placeholder="Telefonnummeret ditt" id="phone" required data-validation-required-message="<i class='fa fa-arrow-circle-o-up'></i> Legg inn telefonnummeret ditt her.">
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<div>
						<input type="hidden"  name="_subject" value="Ny beskjed fra Popkornet.no!">
						<input type="text" name="_gotcha" style="display:none" />
					</div>
					<br>
					<div id="success"></div>
					<div class="row">
						<div class="form-group col-xs-12">
							<button type="submit" class="btn btn-default btn-outline">
                <i class="fa fa-send"></i> Send</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
