<!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <p class="address"><strong>Popkornet as</strong><br>
                        Kobberveien 2<br>
                        4313 Sandnes<br>
                        Org. nr. 917 959 277</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3></h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://github.com/popkornet" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/vifortellerdinhistorie/?fref=ts" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="http://www.twitter.com/popkornet" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <p class="person">
                        <strong>Svein H. Hestvaag</strong><br>
                        901 69 160<br>
                        svein@popkornet.no
                        </p>
                        <p class="person">
                        <strong>Stig Hellerslien Dale</strong><br>
                        9XX XX XXX<br>
                        stig@popkornet.no
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyleft (ɔ) 2016 {{ SITENAME }}
                    </div>
                </div>
            </div>
        </div>
    </footer>
