{% extends "base.html" %}

{% block title %}
	{{SITENAME}}
{% endblock %}

{% block header %}
<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- <img class="img-responsive" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/header-bg.jpg" alt=""> -->
                <div class="intro-text">
                    <span class="name">{{SITENAME}}</span>
                    <hr class="star-light">
                    <span class="skills">Popkornet.no er ikke lenger activt.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block grid %}
{% endblock %}

{% block about %}	
{% endblock %}

{% block contact %}	
{% endblock %}

{% block footer %}	
{% endblock %}

{% block scroll %}	
{% endblock %}

{% block modals %}
{% endblock %}

{% block scriptbase %}
{% endblock %}

{% block jscript %}	
{% endblock %}
