
<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Kjøp bøker</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row">
        {% if articles %}
        	{% for article in articles_page.object_list %}         	
    
	        <div class="col-sm-4 text-center portfolio-item simpleCart_shelfItem">
	        	    <a href="#portfolioModal{{loop.index}}" class="portfolio-link" data-toggle="modal">
	        	        <div class="caption">
	        	            <div class="caption-content">
	        	                <i class="fa fa-search-plus fa-3x"></i>
	        	            </div>
	        	        </div>
	        	        <img src="{{ SITEURL }}/images/portfolio/{{article.image}}" class="img-responsive" alt="">
	        	    </a>
								<a class="item_add btn btn-sm btn-outline" href="javascript:;"> 
									<i class="fa fa-shopping-cart"></i> Kjøp <span class="item_name"> {{ article.title }}</span> | <span class="item_price">{{ article.price }},-</span>
								</a>
	        	</div>
	        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="text-note portfolio-note">
            </div>
        </div>
        </div>
    </div>
</section>

